{
    order esi before basicauth
    admin off
    debug
    esi
}

localhost:443 {
    route /chained-esi-include-1 {
        header Content-Type text/html
        respond `<esi:include src="http://domain.com/chained-esi-include-2"/>`
    }

    route /chained-esi-include-2 {
        header Content-Type text/html
        respond "<h1>CHAINED 2</h1>"
    }

    route /esi-include {
        header Content-Type text/html
        respond "<h1>ESI INCLUDE</h1>"
    }

    route /alt-esi-include {
        header Content-Type text/html
        respond "<h1>ALTERNATE ESI INCLUDE</h1>"
    }

    route /* {
        esi
        reverse_proxy 127.0.0.1:81
        # root * ../../fixtures
        # file_server
    }
}